*, body {
    margin: 0;
    /* border: 1px solid red; */
}



/* Header */
#header{
    display: flex;
    flex-wrap: wrap;
    background-color: darkblue;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    margin-bottom: 0;
}

#logo{
    display: flex;
    flex-wrap: wrap; ;
    width: auto;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}

#ugb{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

#Facultad{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* MID CONTENT */

#hero {
    display: flex;
    background-color: #1f2937;
    padding: 50px 8%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.herotext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

 
.heromaintext{
    display: flex;
    flex-wrap: wrap;
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 0px;
}


.herosubtext{
    display: flex;
    flex-wrap: wrap;
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}


#boton{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    padding: 5px 30px;
    border-radius: 5px;
    border: 0px;
}


#heroimage{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.placeholder{
    margin-top: 10px;
    width: 350px;
    height: 250px;
}










/* footer */

#footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: darkblue;
    padding: 10px;

}

#footer-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

